<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="~/Content/Frame.css" rel="stylesheet" />
    <link href="~/Content/Frame-Media-Mobile.css" rel="stylesheet" media="only screen and (min-width: 320px) and (max-width: 480px)" />
    <link href="~/Content/Frame-Media-Mobile-Landscape.css" rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 767px)" />
    <link href="~/Content/Frame-Media-Tablet.css" rel="stylesheet" media="only screen and (min-width: 768px) and (max-width: 1024px)" />
    <link href="~/Content/Frame-Media-Tablet-Landscape.css" rel="stylesheet" media="only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Cookie.js"></script>
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;)r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "b8a0a0f2-9e34-4fa4-b813-20f7f3d77674"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div id="pageContainer">
        <header role="banner" aria-label="Header">
            <div role="heading" class="header-site-title">
                <a id="headerHomeLink" href="~/">SARIF</a>
            </div>
            <div role="note" aria-label="Beta website" class="header-version-badge">WEB BETA</div>
            <nav role="navigation" aria-label="Header navigation strip" class="header-nav-strip">
                <div id="headerNavItems" class="header-nav-item">
                    <a href="~/#Specification">Specification</a>
                    <a href="~/#ToolsLibraries">Tools &amp; Libraries</a>
                    <a href="~/#Viewers">Viewers</a>
                </div>
            </nav>
            <nav role="navigation" id="headerNavValidator" class="header-nav-item">
                @Html.ActionLink("Validator", "Index", "Validation")
            </nav>
        </header>

        @RenderBody()

        <footer role="contentinfo" aria-label="Footer copyright">
            <p>Copyright &copy; Microsoft Corporation. All rights reserved.</p>
        </footer>
    </div>
</body >
</html >
